{% extends "base.html" %} {% block title %}Saved{% endblock %}
{% block content %}
    <div id='body'>   
        
        {% if data %}  
        <button type='button' class='close' style='align-self: flex-end;padding: 1.2em;' onclick="deleteNotes()">
            <span>Delete All</span>
        </button>
        <ul class='flex-container wrap' id='saved_notes'>
            
                {%for ua in data%}
                <form method='DELETE'>
                    <li class='flex-item' style ='padding: 1.2rem;' id="act-{{ua.id}}">
                        <div>
                            <button type='button' class='close' onclick="deleteNote(`{{ua.id}}`)">
                                &times;
                            </button>
                            <!-- <button type='button' class='close'>
                                <span>&#10004;</span>
                            </button> -->
                        </div>
                            <div style='width: 20em;'>
                                <span style="word-wrap: normal;">Activity: {{ ua.activity [ 'activity' ] }}</span>
                            </div>
                            
                            <div><span>Activity-type: </span>{{ ua.activity[ 'type' ] }}</div>
                            <div><span>Number of people needed: </span>{{ ua.activity['participants'] }}</div>
                            <div><span>Price: </span>{{ ua.activity['price'] }}</div>
                            {% if ua.activity['link']|length %} 
                                <div><span>Link: </span><a href = "{{ ua.activity['link'] }}">Click me!</a></div>
                            {% endif %}    
                    </li>
                    <!-- end of act ua id -->
                </form>
                {% endfor %}
                {% else %}
                    <span style='font-size: 2em; padding-top: 5em;'> No saved activities! </span>
            {% endif %}   
            </ul>
    </div>
{% endblock %}