{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<h1 align='center'>Diary</h1>
<ul class='list-group list-group-flush' id='notes' >
    
    {% for note in user.notes %}
    <div class='{{ note.id }}' style = ' display: none;'>
    
        <li class='list-group-item'>{{ note.title }}
            <button type='button' class='close' onclick='deleteNote({{ note.id }})'>
                <span aria-hidden='true'>&times;</span>
            </button>
        </li>
        <li class='list-group-item'>{{ note.data }}</li>
        <br />
       
    </div>
    {% endfor %}
    
</ul>
<div id='onAddNote' style='display: none;'>
    
    
    <form method='POST' class='notes'>
        <input name='title' id='title' class='form-control' placeholder='Enter Title..'>
        <textarea name='note' id='note' style='outline:none;' class='form-control'placeholder='Dear Diary..'></textarea>
        </br>
        
        <div align='center'>
            <button type='submit' class='btn btn-primary'>Save Diary Note</button>
        </div>
    </form>

</div>

{% endblock %}