{% extends 'base.html' %}
{% block content %}
    <div id = 'body'>
        <!-- <div id = 'display_row'> -->

                <form  id='form' method='POST'  url_for('home') >
                
                    <div id='bored'><span>Bored!</span></div>
    
                        <h1 id = 'choose' style="display: flex; justify-content: center;  font-family: 'Indie Flower', cursive;">--Choose an activity type--</h1>
                        <div id='display_row'>
                            <div class="select">
                            <select name="activity" id="activity">
                                        {% if data %}
                                            <option class="dropdown-item border-radius-md" value="choose" selected='selected' disabled='disabled'>&nbsp {{ data[ "type" ] }} </option>
                                        {% else %}
                                            <option class="dropdown-item border-radius-md" value="choose" selected='selected' disabled='disabled'> &nbspchoose type </option>
                                        {% endif %}
                                        <option value="charity">&nbspcharity</option>
                                        <option value="cooking">&nbspcooking</option>
                                        <option value="relaxation">&nbsprelaxation</option>
                                        <option value="music">&nbspmusic</option>
                                        <option value="busywork">&nbspbusy work</option>
                                        <option value="recreational">&nbsprecreational</option>
                                        <option value="social">&nbspsocial</option>
                                        <option value="diy">&nbspdiy</option>
                            </select>
                            </div>
                            <button class="btn btn-primary" id='butt' type="submit">Give me an activity</button>
                        </div>
                </form>

        
                {%if data != None%}
                <div id='showActivity' style="font-size: 1.6em; font-family: 'Indie Flower', cursive;" >     
                    <div style='width: 420px; word-wrap: break-word;'><span>Activity: </span>{{ data [ 'activity' ] }}</div>
                    <div><span>Activity-type: </span>{{ data [ 'type' ] }}</div>
                    <div><span>Number of people needed: </span>{{ data['participants'] }}</div>
                    <div><span>Price: </span>{{ data['price'] }}</div>
                    {% if data['link']|length %}
                        <div><span>Link: </span>{{ data['link'] }}</div>
                    {% endif %}
                    <div><span><a id='butt' href="/saved?aid={{ data['id'] }}" style='width: 40%; margin-left: 30%;' class="btn btn-secondary" >Save Activity</a></span></div>
                
                </div> 
                {%endif%}

        <!-- </div> -->
        
    </div>
{% endblock %}
